doctype html
html 
    head
        title Kar Tuitions
        block scripts 
        block style 
    body
        nav#navbar.top 
            ul
                li #[a(href="/") Home ]
                li #[a(href="/services") Services] 
                li #[a(href="/locations") Locations] 
                li #[a(href="/faculty") Faculty]
                li #[a(href="/carrers") Carrers]
                li #[a(href="/contact") Contact us] 
        block content
        footer#footer 
            | Copyright ©  2021 KarTutions.com | All rights reserver