
extends base.pug

block scripts 
    script(src="../app.js")

block style
  style
    include ../static/style.css

block content 
    section#introSection.intro
        div#introp1 Kar Tuitions 
        div#introp2 Making you the best version of yourself
        button(class="btn" )
              //-  |  Join Now
              a.btn(href="/contact") Join Now
    section#missionSection.mission
        h2#misp1 Our Missions
        div.card
          h3 Inspire 
          p We ensure that we can create an environment that will be inspiring to our students to attain the highest possible results.
        div.card
          h3 Focus 
          p  Providing comprehensive and individually focused learning that prepares students of all ages for academic and life success.
        div.card
          h3 Empower 
          p  To Empower students to build stronger concepts to make them more confident to face any academic challenges in the future.
          

    section#sponserSection 
        div#sponserp1 Our Sponsers
        div#sponsers
          img(src="../static/logo1.png", alt="Byju's",class=spimage)
          img(src="../static/logo2.png", alt="Huawei",class=spimage)
          img(src="../static/logo3.png", alt="mlearn",class=spimage)
          img(src="../static/logo4.png", alt="samsung",class=spimage)