extends base.pug

block scripts 
    script(src="../static/index.js")

block style
    style
        include ../static/style.css
        include ../static/stylelocations.css
block content 
    h1 Locations
    div.container
        div.box 
            ul
                li Bengaluru-RR nagar 3rd cross near big ganesh temple. 
                li Bengaluru-Near Kengeri post office.
                li Mysore-Shantinagar 2nd cross near semi arch circle.
                li Sagar-Vijayanagar 2nd block near water tank

