@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    padding: 3px 4px;
    background-color: black;
    
}
#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px 4px;
}

#navbar li{
    list-style: none;
   
}
#navbar li :hover{
    color: rgb(72, 20, 20);
    background-color: #c0daeb;
    border-radius: 10px;
    font-weight: bolder;
}

#navbar li a{
    text-decoration: none;
    padding: 3px 12px;
    color: white;
    font-family: 'Roboto', sans-serif;
}


#introSection{
    height: 650px;
    background: center/cover no-repeat url("/static/bg1.jpg");
    display: flex;
    flex-direction: column;
    color: rgb(72, 20, 20);
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 40px;
    
}
#introp1{
    background-color: #c0daeb;
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
}
#introp2{
    font-size: 25px;
    border-radius: 10px;
    background-color: #c0daeb;
    font-family: 'Ubuntu', sans-serif;
}

#missionSection{
    height:370px;
    /* background-color: #c0daeb; */
    background: url(../static/booksbg.jpg);
    align-items: center;
    justify-content: center;
}

#misp1{
    border-radius: 10px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 10px;
    
}
.btn{
    padding:7px 16px;
    font-size: 18px;
    border:2px solid rgb(72, 20, 20);
    border-radius: 10px;
    color: whitesmoke;
    background-color:rgb(72, 20, 20) ;
    cursor: pointer;
    margin: 10px;
    text-decoration: none;
}

.card{
    display: inline-block;
    border: 3px solid brown;
    background-color: #ffebcd5e;
    width: 23%;
    height: 191px;
    margin: 30px;
    margin-left: 112px;
    padding: 3px;
    border-radius: 10px;
}
.card h3{
    display: flex;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    margin-top: 6px;
}
.card p{
    font-family: 'Ubuntu', sans-serif;
    margin: 20px;
    padding: 10px;
}

#sponserSection{
    height:250px;
    background-color: #f2d6d6;
}
#sponserp1{
    font-size: 20px;
    text-align: center;
    padding-top: 6px;
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
#sponsers{
    height: 120px;
    display: flex;
    justify-content: center;
    
}

#sponsers img{
    height: 147px;
    width: 150px;
    padding: 15px;
    margin: 13px;
}

#footer{
    height: 20px;
    color: white;
    background-color: black;
    text-align: center;
}